body {
    background-color: #333;
    color: #aaa;
    height: 100vh;
    display: grid;
    place-items: center;
}

canvas {
    outline: 1px solid #555;
}

p {
    max-width: 80%;
}

#inputs {
    display: flex;
    gap: 2rem;
}

label {
    display: flex;
    flex-direction: column;
}